# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license

.env
.vscode
.swp
.swo

# Development Environment
.ddev
.herd
#Kirby config
env.php
# Josefs localhost config
/site/config/config.go-club-zuerich.ddev.site.php

# don’t publish tournament player data
# ? matches any character, i.e. a prefixed number
/?_tournament/_drafts
/?_club-tournament/_drafts

# php cs fixer
.php-cs-fixer.cache
.php-cs-fixer.dist.php

# old website content
archive/

# staging adress
staging/

# htaccess differst due to the path/domain
.htaccess


# ftp-deploy state on server
.ftp-deploy-sync-state.json