:root {
  font-size: 100%;
  line-height: 1.4;

  /* Schriftgrössen */
  --fs-mikro: 0.625;
  --fs-mini: 0.75rem;
  --fs-norm: 1rem;
  --fs-midi: 1.25rem;
  --fs-maxi: 1.5rem;
  --fs-supi: 2.5rem;
}

/* Links */
.unstyled-link {
  text-decoration: unset;
  color: unset;
}
/* End Links */

/* Navigation */
nav .page-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .page-navigation li {
  margin-right: 1rem;
  text-transform: capitalize;
}

nav .page-navigation li a:hover {
  text-decoration: underline;
}
/* End Navigation */


/* Language Switch */
nav .language-switch {
  position: absolute;
  display: inline-block;
  transform: rotate(-12deg) translate(-1rem, -2rem);
  top: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav .language-switch li {
  font-size: var(--fs-mini);
  margin-bottom: 0.75rem;
  background: #999;
  margin-bottom: 0.25rem;
  padding: 0.125rem 0.5rem 0.25rem;
  border-radius: 0.5rem;
  transition: transform 0.3s 0.2s;
  transform: scale(0.9);
}
nav .language-switch li.active {
  background: palegreen;
  transform: scale(1.2);
  box-shadow: gray 0.15rem 0.125rem 0.25rem;
}

nav .language-switch li:not(.active):hover {
  /* transform: scale(1.1); */
}

nav .language-switch a {
  text-decoration: none;
  color: white;
}

nav .language-switch li.active a {
  color: black;
}

/* end Language Switch */

/* Typography global settings */

body {
  /* should have ordinal number support (1st, 2nd) */
  font-family: 'Token Sans', sans-serif;
}

h1 {
  /* font-family: abordage, sans-serif; */
}

h2, h3 {
  /* font-family: times, latitude, sans-serif; */
}

h1, h2, h3, h4, h5, h6, th, strong { font-weight: 700; }
h1 { font-size: var(--fs-supi); }
h2 { font-size: var(--fs-maxi); }
h3 { font-size: var(--fs-midi); }
h4 { font-size: var(--fs-norm); }
h5 {
  font-size: var(--fs-norm);
  font-style: italic;
}
p, li, label, input, select, input[type="checkbox"], fieldset legend, textarea, td, th { font-size: var(--fs-norm); }
small { font-size: var(--fs-mini); }
input[type="checkbox"],
input[type="radio"] {
  width: var(--fs-mini);
  height: var(--fs-mini);
}

h1, h5, h6, p, ul, aside, form, table, figure { margin-bottom: 1rem; }

h2 { margin-bottom: 2rem; }
h3 { margin-top: 2rem; margin-bottom: 1rem; }

span.emoji {
  display: inline-block;
  transform: scale(0.9) translateY(0.125rem);
}

/* End Typography */

/* Layout */
body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img { width: 100%; }

header { margin: 2rem 0; position: relative;}
main { margin-bottom: 2rem; }
footer {
  /* border: 1px solid violet; */
  margin: auto 0 1rem; /* auto = flex-end */
}

main {
  /* border: 1px solid palegreen; */
}

main section,
main article.news-item {
  /* border: 1px solid tomato; */
  margin-bottom: 3rem;
}

main article.news-item h3 {
  margin: 0.5rem 0;
}

/* timetable, players-table */

#players-table {
  /* border-spacing: 0.125rem; */
  table-layout: fixed;
  border: 1px solid gray;
  text-transform: capitalize;
}

#players-table th, #players-table td {
  text-align: left;
  padding: 0.5rem 0.25rem;
}

#players-table th:nth-child(2), #players-table td:nth-child(2) { /* Rank */
  text-align: right;
  padding-right: 2rem;
}

#players-table tbody tr:nth-child(odd) {
  background-color: #ddd;
}

#players-table thead th:nth-child(1) {
  width: 20%;
}

#players-table thead th:nth-child(2) {
  width: 15%;
}

#players-table thead th:nth-child(3) {
  width: 20%;
}

/* Tournament Timetable Grid */
#timetable {
  display: grid;
  gap: 0.25rem 0.5rem;
  grid-template-columns: repeat(4, max-content);
}
#timetable h4, #timetable p { margin: 0; }
#timetable h4 { grid-row: 1; }
#timetable .day-1 { grid-column: 1/3; }
#timetable .day-2 { grid-column: 3/5;}
#timetable .row-1 { grid-row: 1;}
#timetable .row-2 { grid-row: 2;}
#timetable .row-3 { grid-row: 3;}
#timetable .row-4 { grid-row: 4;}
#timetable .row-5 { grid-row: 5;}
#timetable p {
  display: grid;
  grid-template-columns: subgrid;
}
#timetable p span:nth-child(1),
#timetable p span:nth-child(3) { text-align: right; }
#timetable p span:nth-child(2),
#timetable p span:nth-child(4) { font-variant-numeric: ordinal; }

#club-tournament-table {
  border: none;
  table-layout: fixed;
  text-transform: capitalize;
}

#club-tournament-table td {
  border: 1px solid black;
  padding: 0.5rem;
  line-height: 1;
}
#club-tournament-table td.empty {
  background: #ccc;
}
#club-tournament-table td.invisible {
  border: none;
}
#club-tournament-table td span.pairing {
  font-size: var(--fs-mikro);
}
#club-tournament-table th {
  font-size: var(--fs-mini)
}

#club-tournament-table th.column-head {
  padding-right: 0.5rem;
  text-align: center;
}
#club-tournament-table th.row-head {
  padding-right: 0.5rem;
  text-align: right;
  vertical-align: middle;
}

/* End Layout */

/* Form */

section.form-element {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

fieldset .radio-buttons {
  display: flex;
}

fieldset .radio-buttons label {
  display: inline;
  padding-right: 1rem;
}

fieldset legend {
  line-height: 1.4; /* wtf? */
}

.alert {
  border: 1px solid red;
  background: pink;
  padding: 1rem;
}
.honey {
  position: absolute;
  left: -9999px;
}
/* End Form */

/* Debug Stuff */
.template-marker {
  display: inline-block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: papayawhip;
  border: 1px solid hotpink;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transform: rotate(-4deg);
  font-size: 0.875rem;
  box-shadow: black 0.15rem 0.125rem 0.25rem;
}
/* End Debug Stuff */

/* Desktop Styles */

@media (min-width: 700px) {
  :root {

    /* Schriftgrössen Faktor 1.5 */
    --fs-mikro: 1rem;
    --fs-mini: 1.125rem;
    --fs-norm: 1.5rem;
    --fs-midi: 1.875rem;
    --fs-maxi: 2.25rem;
    --fs-supi: 3.75rem;
  }

  /* Layout */
  body {
    align-items: center;

  }
  header, main, footer {
    width: 100%;
    max-width: 800px;
  }
  nav .language-switch {
    transform: rotate(-12deg) translate(-11rem, -4rem);
  }

}
